.signup h1 {
 margin-left: 9%;
 position: relative;
 bottom: 10px;
}

.signup .form-group {
 margin-right: 10%;
 margin-left: 10%;
}

.signup #submit {
 width: 100px;
 position: relative;
 left: 100%;
 transform: translate( -100%, 0 );
}

.signup #clear {
 width: 100px;
}

.signup #checkName {
 float: left;
 position: relative;
 left: 103%;
 bottom: 30px;
 opacity: 0.5;
}

.signup #checkPassword {
 float: left;
 position: relative;
 left: 103%;
 bottom: 30px;
 opacity: 0.5;
}

.signup #checkPasswordAgain {
 float: left;
 position: relative;
 left: 103%;
 bottom: 50px;
 opacity: 0.5;
}

.signup #passwordAgain {
 position: relative;
 bottom: 20px;
}